<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xy.t_layout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ActivityCoordinatorLayout"/>

        <activity android:name=".flowlayout.ActivityFlowLayout"/>

        <activity android:name=".activity.ActivityMultiFlowLayout"/>

        <activity android:name=".activity.ActivityFlexboxLayout"/>

        <activity android:name=".randomlayout1.RandomActivity1"/>
        <activity android:name=".randomlayout2.RandomActivity2"/>
        <activity android:name=".randomlayout3.RandomActivity3"/>
        <activity android:name=".randomlayout4.RandomActivity4"/>
        <activity android:name=".keywordsflow.KeywordsFlowActivity"/>
        <activity android:name=".value_anim.ValueAnimationActivity"/>


        <activity android:name=".multiflowlayout.Activity_03_TV"/>
        <activity android:name=".multiflowlayout.Activity_03_TVScroll"/>
        <activity android:name=".multiflowlayout.Activity_03_LayoutScroll"/>
        <activity android:name=".multiflowlayout.Activity_03LayoutMultiScroll"/>

    </application>

</manifest>